<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>first post:</strong>
  <%= @user.try(:microposts).try(:first).try(:content) %></n>
  
  <% if @user.microposts.first %>
    o7o7o7o7o -<%= @user.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
